.navbar {
    font-family: 'Libre Baskerville', serif;

}

#question, #welcome {
    font-family: 'Libre Baskerville', serif;

}

.welcome-text {
    font-family: 'Lato', sans-serif;
}

.answer-button {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-kerning: 2px;
    padding: 7px;
    margin: 9px;
}