.navbar {
    font-family: 'Libre Baskerville', serif;

}

#question, #welcome, h1 {
    font-family: 'Libre Baskerville', serif;

}

.welcome-text {
    font-family: 'Lato', sans-serif;
}

.answer-buttons {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    padding: 7px;
    margin: 9px;
}