.navbar {
    font-family: 'Libre Baskerville', serif;

}

#question, #welcome {
    font-family: 'Libre Baskerville', serif;

}

.btn, .welcome-text {
    font-family: 'Lato', sans-serif;
}

.hide {
    display: none;
}